* {
    margin:0;

}

header{
    background-color: purple;
    height:100px;
}
h1{
    font-size: 60;
    text-align: center;
    padding: 15px;

}
.card{background-color: #FFFFE0;
    border: 1px solid #eceff1;
    border-radius: 8px;
    box-shadow: rgb(60 64 67) 0 1px 2px 0, rgb(60 64 67 / 15%) 0 2px 4px 3px;
    margin: 40px 20px;
    padding: 20px;

}
.box{
    background-color: #FFFFE0;
    border: 1px solid white;
    border-radius: 8px;
    box-shadow: rgb(60 64 67) 0 1px 2px 0, rgb(60 64 67 / 15%) 0 2px 4px 3px;
    margin: 40px 20px;
    padding: 20px;
   
}


#submitBtn{
    
        font-size: 1.3rem;
        text-decoration: none;
        padding: 6px 5px;
        width: 100%;
        display: block;
        margin: 5px 0;
        border-radius: 0.3rem;
        color: black;
        border: none;
        outline: none;
        background-color: rgb(159, 67, 186);
        box-shadow: 3px 3px rgb(44, 13, 42);
        transform: translate(-1px, -1px);
}
.square{
    background-color: purple;
    width: 200px;
    height: 200px;
    margin: 10px;
    color: black;
    font-size: 10px;
    box-shadow: 5px 10px;
   
}
.fiveDay{
    display: flex;
    flex-direction: row;
    padding-left:0px;   
}
div {
    padding: 10px;
    display: flex;
    flex-direction: column;
}
