* {
    margin:0;

}
body{
    display: block;
}

/* .card{background-color: #FFFFE0;
    border: 1px solid #eceff1;
    border-radius: 8px;
    box-shadow: rgb(60 64 67) 0 1px 2px 0, rgb(60 64 67 / 15%) 0 2px 4px 3px;
    margin: 40px 20px;
    padding: 20px;
    width: 40vw;
}
#weather{
    float:right;
}
#fiveDay{
    float:right;
} */